{% extends 'JetChartersPublicBundle::base.html.twig' %}

{% block content %}
    <section class="advertise-intro">
        <div class="container">
            <div class="row advertise-info">
                <header class="headline">
                    <h2>ADvertise With Us</h2>
                </header>
                <div class="holder">
                    <h3>About JetCharters.com</h3>
                    <p>The <a href="#"><em>Raytheon Beechjet</em></a> is a premier executive business light jet. The Beechjet 400 is a newly refined model of the Mitsubishi Diamond 2. With luxury seating for six or seven, this aircraft is perfect for executive or leisure jet charter. The Beechjet 400A is similar to the model 400 but exceeds it by expanded cabin space, newly designed interior, and higher maximum takeoff weight. The Beechjet 400A served as the model for the military aircraft known as the T-1 Jayhawk tanker and transport aircrew trainer.</p>
                    <div class="get-started">
                        <div class="img">
                            <img src="{{ asset('bundles/jetcharterspublic/images/ico-04.png') }}" alt="image">
                        </div><!-- img -->
                        <div class="descr">
                            <h3>How To Get Started</h3>
                            <p>The <a href="#"><em>Raytheon Bee<wbr>chjet</em></a> is a premier executive business light jet. The Beechjet 400 is a newly refined model of the Mitsubishi Diamond 2. With luxury seating for six or seven, this aircraft is perfect for executive or leisure jet charter. The Beechjet 400A is similar to the model 400 but exceeds it by expanded cabin space, newly designed interior. newly designed interior.</p>
                            <div class="btn-holder">
                                <a href="#" data-toggle="modal" data-target="#contact-us" class="btn btn-primary">Contact Us <img src="{{ asset('bundles/jetcharterspublic/images/ico-06.png') }}" alt="image"></a>
                                <a href="#" class="btn btn-primary">Chat Now<img src="{{ asset('bundles/jetcharterspublic/images/ico-07.png') }}" alt="image"></a>
                                <span class="call-btn"><a href="callto:8005555555"><img src="{{ asset('bundles/jetcharterspublic/images/ico-05.png') }}" alt="image">Give Us A Call <span>(800) 555-5555</span></a></span>
                            </div><!-- btn-holder -->
                        </div><!-- descr -->
                    </div><!-- get-started -->
                </div><!-- holder -->
            </div><!-- advertise-box -->
        </div>
    </section><!-- advertise-intro -->
    <section class="advertise-about">
        <div class="container">
            <div class="info row">
                <div class="img">
                    <img src="{{ asset('bundles/jetcharterspublic/images/ico-10.png') }}" alt="image">
                </div><!-- img -->
                <div class="descr">
                    <h3>Who Should Advertise</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies egestas odio, vel consequat arcu lobortis et. Mauris id arcu id arcu euismod tempor vel in elit. Donec cursus dolor est, eu semper orci interdum sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque iaculis, felis et imperdiet laoreet, mauris orci dapibus tortor, a faucibus tellus turpis nec nunc.</p>
                    <p>Maecenas ultrices elit ante, vel fermentum urna interdum ut. Sed feugiat gravida odio vitae pretium. Nunc et neque ullamcorper.</p>
                </div><!-- descr -->
            </div><!-- info -->
            <div class="col-holder">
                <div class="col-md-6">
                    <h4><img src="{{ asset('bundles/jetcharterspublic/images/ico-11.png') }}" alt="image">What to Expect</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies egestas odio, vel consequat arcu lobortis et. Mauris id arcu id arcu euismod tempor vel in elit. Donec cursus dolor est, eu semper orci interdum sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque iaculis, felis et imperdiet laoreet, mauris orci dapibus tortor, a faucibus tellus turpis nec nunc.</p>
                    <p>Maecenas ultrices elit ante, vel fermentum urna interdum ut. Sed feugiat gravida odio vitae pretium. Nunc et neque ullamcorper.</p>
                </div>
                <div class="col-md-6">
                    <h4><img src="{{ asset('bundles/jetcharterspublic/images/ico-12.png') }}" alt="image">How Much It Costs</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies egestas odio, vel consequat arcu lobortis et. Mauris id arcu id arcu euismod tempor vel in elit. Donec cursus dolor est, eu semper orci interdum sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque iaculis, felis et imperdiet laoreet, mauris orci dapibus tortor, a faucibus tellus turpis nec nunc.</p>
                    <p>Maecenas ultrices elit ante, vel fermentum urna interdum ut. Sed feugiat gravida odio vitae pretium. Nunc et neque ullamcorper.</p>
                </div>
            </div>
        </div><!-- conntainer -->
    </section><!-- advertise-about -->
    <section class="advertise-comment">
        <div class="container">
            <h3><img src="{{ asset('bundles/jetcharterspublic/images/ico-15.png') }}" alt="image">What Our Advertisers Say</h3>
            <div class="blockquote-holder align-left">
                <img src="{{ asset('bundles/jetcharterspublic/images/ico-13.png') }}" alt="image">
                <blockquote>
                    <q>After years of using property managers for my beach rental, I realized that I could save thousands of dollars a year by simply resourcing Follybeach.com. It has been such a pleasure to work with them and it has shown to be a great success.</q>
                    <cite>Kim Hubbard, Pro Airways</cite>
                </blockquote>
            </div>
            <div class="blockquote-holder align-right">
                <img src="{{ asset('bundles/jetcharterspublic/images/ico-14.png') }}" alt="image">
                <blockquote>
                    <q>As a local business, advertising and the related costs are always a balancing act, yet are imperative to reaching potential customers. FollyBeach.com has made available a resource for advertising my business in the Folly Beach area, while at a reasonable and affordable cost. Because their site is very informative and a great resource for anyone inquiring about Folly Beach, I feel very confident advertising thru them and highly recommend the same to anyone looking for a great place to advertise their Folly Beach related business, service, property, etc.</q>
                    <cite>Cynthia Gardner, On the Spot Baby Equipment Rentals</cite>
                </blockquote>
            </div>
        </div>
    </section><!-- advertise-comment -->
{% endblock %}