{% extends 'JetChartersAppBundle:Admin:base.html.twig' %}

{% block javascripts %}
    {{parent()}}
    {% javascripts
        '@JetChartersAppBundle/Resources/public/cp_theme/js/livesearch.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content -%}
<div class="container-fluid">
    <div id="pad-wrapper" class="form-page">
        <div class="row-fluid form-wrapper">
            <div class="row-fluid head">
                <div class="span12">
                    <h4 style="margin:-20px 0 20px 0;"> + Charter Operators</h4>
                </div>
            </div>
            <div class="row-fluid filter-block">
                <div class="span8">
                    <input type="text" placeholder="Filter" id="search">
                </div>
                <div class="span4 pull-right" align="right">
                    <a class="btn-flat primary" href="{{ path('admin_aircraft_status_log') }}"> Aircraft Status Log</a>
                    <a class="btn-glow primary" href="{{ path('admin_operators_new') }}"> Add New Charters OperatorUser</a>
                </div>
            </div>
            {% if entities is not empty %}
            <table class="table table-hover" style="margin-top:15px;">
                <thead>
                    <tr>
                        <th>Operator</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Lastlogin</th>
                        <th>Roles</th>
                        <th>Phone</th>
                        <th>Billing Plan</th>
                        <th>Aircraft Listed</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>{{ entity.operator is defined and entity.operator.name is defined ? entity.operator.name : 0 }}</td>
                        <td>{{ entity.username }}</td>
                        <td>{{ entity.firstName }} {{ entity.lastName }}</td>
                        <td>{{ entity.email }}</td>
                        <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('m/d/Y h:i A') }}{% endif %}</td>
                        <td>
                            <ul>
                                {% for role in entity.roles %}
                                <li>{{ role }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ entity.phone }}</td>
                        <td>{{ entity.billingPlan is defined ? entity.billingPlan : 0 }}</td>
                        <td>{#{ entity.operator ? entity.operator.aircraft.count : 0 }#}</td>
                        <td>
                            <a class="btn-flat icon btn-block" href="{{ path('admin_operators_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> Edit</a>
                            <a class="btn-flat icon btn-block" href="{{ path('admin_aircraft', { 'op_username': entity.username }) }}"><i class="icon-list"></i> List Aircraft</a>
                            <a class="btn-flat icon btn-block" href="{{ path('admin_operators_assign_aircraft', { 'op_username': entity.username }) }}"><i class="icon-plane"></i> Assign Aircraft</a>
                            <a class="btn-flat icon btn-block" href="{{ path('admin_operators_billing', { 'op_username': entity.username }) }}"><i class="icon-briefcase"></i> Billing</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert" style="margin-top:15px;"><i class="icon-warning-sign"></i>There are no operators in the Jetcharters.com system</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}