{% extends 'JetChartersPublicBundle::base.html.twig' %}

{% block title %}Jet Charters - Private Jet Charters and Charter Flights{% endblock %}

{% block content %}
    <div class="head-area parallax-bg">
        <h1>Complete Form &amp; Select Aircraft to Receive Quotes</h1>
        <div class="setting-bar">
            <div class="container">
                <div class="holder clearfix">
                    <ul class="option">
                        <li><a href="#" class="map ie-fix" data-toggle="modal" data-target="#location"><span>Map</span></a></li>
                        <li>
                            <a href="#" class="preferences ie-fix"><span>Preferences</span></a>
                            {% include 'JetChartersPublicBundle::charter-preferences.html.twig' %}
                        </li>
                    </ul><!-- / option -->
                </div><!-- / holder -->
                <div class="row clearfix hidden-xs">
                    <form action="#">
                        <div class="col col-md-10 col-sm-9 area">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <input class="form-control" type="text" placeholder="First Name" />
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input class="form-control" type="text" placeholder="Last Name" />
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input class="form-control" type="number" placeholder="Phone" />
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input class="form-control" type="email" placeholder="Email" />
                                </div>
                            </div><!-- / row -->
                            <div class="add-area clearfix">
                                <a href="#" class="open-close"><span>+</span> Add Comment</a>
                                <div class="slide-box">
                                    <header class="title">
                                        <strong>Add Comment</strong>
                                        <a href="#" class="close">close</a>
                                    </header>
                                    <textarea class="form-control" cols="1" rows="1">Commentary text style.</textarea>
                                </div><!-- / slide-box -->
                            </div><!-- / add-area -->
                        </div><!-- / area -->
                        <div class="col col-md-2 col-sm-3">
                            <button class="btn btn-info">Get Quote</button>
                        </div>
                    </form>
                </div><!-- / row -->
                <a href="#" data-toggle="modal" data-target="#data-form" class="btn btn-info visible-xs"><span>Get Quote</span></a>
            </div><!-- / container -->
        </div><!-- / setting-bar -->
    </div><!-- / head-section -->
    <div class="select-aicraft container">
    
	<form action="#">
	{% for airAmbulance in airAmbulance %}
	<div class="info-aircraft">
	    <div class="check">
		<input id="lbl-007" type="checkbox">
		<label for="lbl-007"><span>select</span></label>
	    </div><!-- / check-col -->
	    <div class="img-holder">
		{% if airAmbulance.images|length > 0 %}
		    <img src="{{ asset('images/uploads/' ~ airAmbulance.images.first.imagename) }}" alt="" width="292" height="196" >
		    <span class="mask-01">
			    <a href="{{ asset('images/uploads/' ~ airAmbulance.images.first.imagename) }}" data-toggle="lightbox" data-parent=".available-aircrafts" data-gallery="multiimages" data-title="{{ airAmbulance.name }}" data-footer="Get Quote: {{ airAmbulance.operator.contactphone }}">gallery</a>
		    </span>
		{% else %}
		    <img src="{{ asset('bundles/jetcharterspublic/images/image-not-found.jpg') }}" alt="" width="292" height="196" >
		{% endif %}
		{#<span class="mask-01">
			<a href=" {{ asset('bundles/jetcharterspublic/images/img13.png') }}" data-toggle="lightbox" data-parent=".select-aicraft" data-gallery="multiimages" data-title="Name Of Jet" data-footer="Get Quote: {{ airAmbulance.operator.contactPhoneNumber }}">gallery</a>
		</span>#}
	    </div>
	    <div class="holder">
		<header class="heading">
		    <strong class="title"><a href="aircraft.html">{{ airAmbulance.aircraftmodel.name }}</a></strong>
		    <ul class="info">
			<li>Seats {{ airAmbulance.seats }}</li>
			<li>Tail # <a href="#">{{ airAmbulance.tailNumber }}</a></li>
		    </ul>
		    <a data-toggle="modal" data-target="#add-favorite" href="#" class="add-favorite"><span>Add</span> Favorite<strong> !</strong></a>
		</header>
		<div class="frame">
		    <ul class="list-info list-info-big">
			<li>
			    <a href="operator-profile.html" class="tooltip-link" data-placement="top" title="{{ airAmbulance.operator.contactPhoneNumber }}">
				<img src=" {{ asset('bundles/jetcharterspublic/images/img-001.png') }}" alt="" >
				{{ airAmbulance.operator.name }}
				<em>{{ airAmbulance.operator.contactPhoneNumber }}</em>
			    </a>
			</li>
			<li>
			    <img src=" {{ asset('bundles/jetcharterspublic/images/ico-dollar.png') }}" alt="" >
			    <strong>${{ airAmbulance.hourlyrate }}/hr</strong>
			</li>
			<li>
			    <span data-toggle="modal" data-target="#contact-us" class="contact">
				    <img src=" {{ asset('bundles/jetcharterspublic/images/ico08.png') }}" alt="" >
				    <span>Contact</span>
			    </span>
			</li>
			<li>
			    <a data-toggle="modal" data-target="#location" href="#" class="tooltip-link" data-placement="top" title="{{ airAmbulance.location.closestcitydistancemiles }} Miles From {{ airAmbulance.location.closestcity }}">
				<img src=" {{ asset('bundles/jetcharterspublic/images/ico-001.png') }}" alt="" >
				{{ airAmbulance.location.icaoCode }}
				<em>{{ airAmbulance.location.closestcitydistancemiles }} Miles From {{ airAmbulance.location.closestcity }}</em>
			    </a>
			</li>
		    </ul><!-- / list-info -->
		    <a href="#" class="phone visible-xs"></a>
            {% if airAmbulance.operator.showArgusLogo %}
		    <img class="custom-logo" src=" {{ asset('bundles/jetcharterspublic/images/img18.png') }}" alt="image">
            {% endif %}
		</div>
	    </div>
	</div><!-- / info-aircraft -->
	
	{% endfor %}
	</form>
	
    </div><!-- / select-aicraft -->
{% endblock %}

{% block modals %}
<div class="modal fade" id="location">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h2 class="modal-title">Aircraft Locations</h2>
            </div>
            <div class="modal-body">
                <img src="images/img16.jpg" alt="image" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    {% include 'JetChartersPublicBundle::charter-contact-us.html.twig' %}
{% endblock %}
