{% extends 'JetChartersAppBundle:Admin:form_showcase.html.twig' %}

{% block title %}+ Add Empty Leg{% endblock %}

{% block the_form %}
	<div class="form-set">
	    {% if (errors is defined and errors|length>0) %}
		    <div class="alert alert-danger alert-white rounded">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			<div class="icon"><i class="fa fa-times-circle"></i></div>
			{% for error in errors %}
			    {{ error.message }}<br>
			{% endfor %}
		    </div>
	    {%endif%}
	    {% form_theme form 'JetChartersAppBundle:Form:cp_form_theme.html.twig' %}
	    
	    {{ form_start(form) }}
	    
	    {{form_row(form.aircraft) }}
	    
	    <div id="paired">
		{{form_row(form.fromDate, {'attr': {'class': 'start'}}) }}
		{{form_row(form.toDate, {'attr': {'class': 'end'}}) }}
	    </div>
	    {{ form(form) }}
	    {{ form_end(form) }}	
	</div>
{% endblock %}
